.form-content {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 24px auto;
}

.form-content input {
	width: 120px;
	height: 40px;
	text-align: right;
	padding: 0 10px;
	font-size: 1.1rem;
	font-weight: bold;
	border: 1px solid var(--border-color);
	background: var(--primary-background);
	color: var(--text-color);
}

.form-content span {

	font-weight: bolder;
	font-size: 1.1rem;
}

.form-content select {
	padding: 0 8px;
	height: 40px;
	width: 280px;
	border: 1px solid var(--border-color);
	background-color: var(--primary-background);
	color: var(--text-color);
	font-size: 1.1rem;
}

.form-content .disabled {
	cursor: not-allowed;
}