.message-error {

    width: 100%;
    margin: 16px auto;
    min-height: 40px;
    line-height: 40px;
    font-size: 1.05rem;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-align: justify;
    font-weight: bold;
    padding: 0 16px;
    background-color: var(--error-background);
    border: 1px solid var(--text-error-color);
    color: var(--text-error-color);
    text-transform: uppercase;
}